:root {
    --grandezza : 200px;
}

body {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    margin: auto;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(173, 35, 35);
    width: var(--grandezza);
    height: 100%;
}

#logo {
    background-color: #2b2b2b;
    width: var(--grandezza);
    display: flex;
    justify-content: center;
}

#logo img {
    display: flex;
    flex-direction: center;
    width: 100px;
}

#avatar img {
    width: 150px;
    border-radius: 50%;
}

li {
    list-style: none;
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: #2b2b2b;
    transition: 0.3s;
}

a:hover {
    color: #2b2bb2;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}